

.mainContainer {
    padding: 2rem 15rem;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.title {
    color: #041cf1;
    font-family: 'Wonderful Branding', cursive;
    margin-bottom: -1.8rem;
    font-size: 2.4rem;
    font-weight: 500;
}

.subtitle {
    font-size: 1.6rem;
    color: #0417c1e7;
    font-family: inter, sans-serif;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: -0.4rem;
}

.description {
    font-size: 23px;
    color: #0b0101;
    font-family: Inter, sans-serif;
    font-weight: 800;
    max-width: 800px;
}

