.mainContainer {
  padding: 2rem 15rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.title {
  color: #041cf1;
  font-family: "Wonderful Branding", cursive;
  margin-bottom: -1.8rem;
  font-size: clamp(1.9rem, 5vw, 2rem);
  font-weight: 500;

  /* PARALLAX CORE */
  will-change: transform;
  transition: transform 0.15s linear;
}

.subtitle {
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  color: #0417c1e7;
  font-family: Inter, sans-serif;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: -0.4rem;
}

.description {
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
  color: #0b0101;
  font-family: Inter, sans-serif;
  font-weight: 800;
  max-width: 800px;
}

.description span {
  font-weight: 600;
  font-size: 0.95em;
  opacity: 0.85;
}


@media (min-width: 480px) and (max-width: 768px) { 
  .mainContainer {
    padding: 2rem 4rem;
  }
 
}


@media (min-width: 769px) and (max-width: 1024px) {
  .mainContainer {
    padding: 2rem 11rem;
  }
}


@media (min-width: 1281px) {
  .mainContainer {
    padding: 2rem 8rem;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    padding: 2rem 1.25rem;
  }

  .title {
    margin-bottom: -0.8rem;
  }
}