.AboutSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(120deg, #fdfeff, #ffffff);
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.MainRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

.Content {
  max-width: 500px;
}

.Who {
  font-size: clamp(1.9rem, 5vw, 3rem);
  color: #1e40ff;
  font-family: "Wonderful Branding", cursive;
  font-weight: lighter;
}

.Nerd {
  font-size: clamp(2rem, 4vw, 3.2rem);
  color: #000;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 800;
}

.Parenthesis {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: #1e40ff;
  font-family: "Biro Script", cursive;
  display: block;
  text-align: right;
  margin-bottom: 20px;
}

.MainContent {
  font-size: clamp(1.3rem, 2.5vw, 1.6rem);
  max-width: 600px;
  font-weight: 800;
  color: #000;
  line-height: 1.3;
  text-align: justify;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;

  will-change: transform;
  transition: transform 0.15s linear;
}

.Image {
  width: 100%;
  max-width: 500px;
  border-radius: 40px;
  display: block;
}


@media (min-width: 480px) and (max-width: 768px) { 
  .MainRow {
    flex-direction: column;
    gap: 0px;
  }

  .ImageContainer {
    transition: none;
    height: 600px;
  }

  .Image {
    height: 280px;
  }

  .AboutSection {
     gap: 0px;
  }

  .MainContent {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
 

}


@media (min-width: 769px) and (max-width: 1024px) {
 .Who {
  font-size: 1.9rem;
  width: 400px;
  padding-bottom: 0px;
 } 

   .MainRow {
    display: flex;
    gap: 0px;
    bottom: 0px;
    flex-direction: column;
   }

   .ImageContainer {
    transition: none;
    height: 750px;
    will-change: none;
   }

     .AboutSection {
     gap: 0px;
  }

  .MainContent {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
 
}


@media (min-width: 1025px) and (max-width: 1280px) {

   .Who {
  font-size: 2.5rem;
  width: 500px;
  padding-bottom: 0px;
 } 

  .Nerd {
    font-size: 3.8rem;
  }

   .Parenthesis {
    font-size: 2.1rem;
   }
    
   .MainContent {
    font-size: 2rem;
   }
   

   .MainRow {
    display: flex;
    gap: 0px;
    bottom: 0px;
    flex-direction: column;
   }

   .ImageContainer {
    transition: none;
    height: 820px;
    will-change: none;
   }

     .AboutSection {
     gap: 0px;
  }

  .MainContent {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 1281px) {
  .AboutSection {
    padding: 4rem 8rem;
    gap: 0;
  }

  .MainRow {
    flex-direction: row;         
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    gap: 80px;
  }

  .Content {
    max-width: 650px;
  }

  .Who {
    font-size: 2.3rem;
    width: auto;
  }

  .Nerd {
    font-size: 3rem;
  }

  .Parenthesis {
    font-size: 1.8rem;
    text-align: left;
  }

  .MainContent {
    font-size: 1.7rem;
    max-width: 650px;
    text-align: justify;
  }

  .ImageContainer {
    height: auto;
    width: 520px;
    transition: transform 0.15s linear; 
    will-change: transform;
  }

  .Image {
    width: 100%;
    max-width: 520px;
    border-radius: 40px;
  }
}
