.AboutSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(120deg, #fdfeff, #ffffff);
  background-size: 200% 200%;
  animation: backgroundShift 20s ease infinite;
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

@keyframes backgroundShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.MainRow {
  display: flex;
  justify-content: center;     
  align-items: center;
  gap: 60px;                    
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

.Content {
  max-width: 500px;
}

.Who {
  font-size: clamp(2.5rem, 5vw, 3rem);
  color: #1e40ff;
  font-family: "Wonderful Branding", cursive;
  text-align: left;
  bottom: 0;
  transition: transform 0.6s ease;

 &:hover {
    transform: rotateZ(3deg) scale(1.05);
    text-shadow: 0 0 10px rgba(4,28,241,0.7), 0 0 20px rgba(120,119,198,0.5);
  }
}

.Nerd {
  font-size: clamp(2rem, 4vw, 3.2rem);
  color: #000;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 800;
}

.Parenthesis {
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #1e40ff;
  font-family: "Biro Script", cursive;
  display: block;
  text-align: right;
  margin-bottom: 20px;
}

.MainContent {
  font-size: clamp(1rem, 2.5vw, 1.6rem);
  max-width: 600px;
  font-weight: 800;
  color: #000;
  line-height: 1.3;
  text-align: justify;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  overflow: hidden; 
  border-radius: 16px; 
}

.Image {
  width: 100%;
  max-width: 500px;
  border-radius: 40px;
  will-change: transform;
  border: none;        
  outline: none;       
 
}





