@font-face {
  font-family: "Biro Script";
  src: url("../assets/fonts/BiroScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wonderful Branding";
  src: url("../assets/fonts/WonderfulBranding.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #000000;
  scroll-behavior: smooth;
  overflow: hidden;
}

.global-arrows {
  display: flex;
  justify-content: center;
  gap: 1400px;
}

.global-arrow {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #1e40ff;
  transition: transform 0.2s ease, opacity 0.2s ease;

  &:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.global-title {
  font-family: 'Biro Script', cursive;
  color: #041cf1;
  font-size: 3rem;
  margin-bottom: 5px;
  padding-bottom: 0;
  font-weight: 400;
}
