@font-face {
  font-family: "Biro Script";
  src: url("../assets/fonts/BiroScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wonderful Branding";
  src: url("../assets/fonts/WonderfulBranding.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #fff9f9;
  color: #000000;
  scroll-behavior: smooth;
  overflow: hidden;
}
