.hero {
  min-height: 85vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow {
  font-size: clamp(2rem, 4vw, 1rem);
  cursor: pointer;
  color: #000;
  transition: transform 0.2s ease, opacity 0.2s ease;

  &:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name {
  font-family: "Wonderful Branding", cursive;
  font-size: clamp(3rem, 6vw, 4rem);
  font-weight: 400;
  color: #041cf1;
  margin: 0;
}

.portfolio {
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  color: #041cf1;
  font-family: Inter;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: clamp(-60px, -10vw, -30px);
  padding: 0;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-top: clamp(-40px, -10vw, -50px);
  gap: 3px;
  font-size: clamp(2.6rem, 4vw, 3rem);
  color: #041cf1;
}

.subtitle span {
  font-family: "Biro Script", cursive;
  display: inline-block;
  margin-right: clamp(130px, 20vw, 160px);
  max-width: clamp(400px, 27vw, 430px);
  margin-top: clamp(0px, -20vw, -50px);
}

.hand {
  width: clamp(120px, 20vw, 180px);
  margin-top: clamp(50px, -10vw, -20px);
}

.next {
  position: absolute;
  right: 24px;
  bottom: 24px;
  background: none;
  border: none;
  font-size: 62px;
  color: #041cf1;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;

  &:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
}
