.hero {
  min-height: 100vh;
  padding: 5px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.topBar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;

  span {
    width: 24px;
    height: 3px;
    background-color: #041cf1;
    display: block;
  }
}

.lang {
  display: flex;
  align-items: center;
  gap: 6px;

  img {
    cursor: pointer;
    width: clamp(38px, 5vw, 40px);
    height: auto;
    border-radius: 50%;
  }
}

.arrow {
  font-size: clamp(2rem, 4vw, 1rem);
  cursor: pointer;
  color: #000;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name {
  font-family: "Wonderful Branding", cursive;
  font-size: clamp(3rem, 6vw, 4rem);
  font-weight: 400;
  color: #041cf1;
  margin: 0;
}

.portfolio {
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  color: #041cf1;
  font-family: Inter;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: clamp(-60px, -10vw, -30px);
  padding: 0;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: clamp(2.6rem, 4vw, 3rem);
  color: #041cf1;
}

.subtitle span {
  font-family: "Biro Script", cursive;
  display: inline-block;
  margin-right: clamp(130px, 20vw, 160px);
  max-width: clamp(240px, 27vw, 430px);
  margin-top: clamp(0px, -20vw, -50px);
}

.hand {
  width: clamp(120px, 20vw, 180px);
  margin-top: clamp(50px, -10vw, -20px);
}

.next {
  position: absolute;
  right: 24px;
  bottom: 24px;
  background: none;
  border: none;
  font-size: 32px;
  color: #041cf1;
  cursor: pointer;
}
