.hero {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
}


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
}


.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
  background-color: transparent;


  display: flex;
  flex-direction: column;
  gap: 6px;

  z-index: 1002;

  span {
    width: 26px;
    height: 3px;
    background-color: #041cf1;
    transition: all 0.3s ease;
  }
}

.open {
  span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  span:nth-child(2) {
    opacity: 0;
  }

  span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}



.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.35s ease;

  z-index: 800;
}

.overlayShow {
  opacity: 1;
  pointer-events: auto;
}



.menu {
  position: fixed;
  top: 50px;
  left: 30px;
    background-color: transparent;


  width: min(150px, 85vw);
  max-height: calc(100vh - 120px);

  background-color: #eaeae8;
  padding: 2.2rem 1.8rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-family: Wonderful Branding, serif;

  border-radius: 18px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.12);

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: opacity 0.35s ease, transform 0.35s ease;

  z-index: 900;
}

.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


.menu a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;

  opacity: 0;
  transform: translateY(10px);

  animation: fadeUp 0.45s ease forwards;

  &:hover {
    transform: translateX(8px);
    color: #9b9c9f;
    opacity: 0.7;
  }
}

.show a:nth-child(1) { animation-delay: 0.05s; }
.show a:nth-child(2) { animation-delay: 0.1s; }
.show a:nth-child(3) { animation-delay: 0.15s; }
.show a:nth-child(4) { animation-delay: 0.2s; }
.show a:nth-child(5) { animation-delay: 0.25s; }
.show a:nth-child(6) { animation-delay: 0.3s; }
.show a:nth-child(7) { animation-delay: 0.35s; }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





@media (min-width: 480px) and (max-width: 768px) { 
  .menu {
    top: 50px;
    left: 20px;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .topBar {
    width: 75%;
  }
  
}


